// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn-test {
  background-color: red;
}

// body {
//   background-color: #F9F9F9;
//   font-size: t.$font-size;
//   line-height: 26px;
//   margin: 0 auto;
//   overflow-x: hidden;
//   font-size: t.$font-size;
//   font-family: t.$font;
// }


  
// }

// svg {
//   cursor: pointer;
// }

// svg:hover path {
//   fill: #30C88F;
//   @include transition;
// }




